<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/star.css">
    <link rel="stylesheet" href="/output.css">
    <link rel="stylesheet" href="/fa/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/animate/animate.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=68d2403c6f09a63c8e6f1f17&product=sop' async='async'></script>


        <!-- Swiper CSS -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>


<link href="https://api.mapbox.com/mapbox-gl-js/v3.15.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v3.15.0/mapbox-gl.js"></script>

<link rel="icon" type="image/svg+xml" href="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23FF5A5F' d='M16 0c-2.8 0-5.1 1.1-6.9 2.9C7.3 4.7 6.2 7.1 6.2 10c0 2.4 1.1 5.2 2.8 8.3 1.4 2.5 3.1 5.1 5 7.7.8 1.1 1.5 2.1 2 2.8.5-.7 1.2-1.7 2-2.8 1.9-2.6 3.6-5.2 5-7.7 1.7-3.1 2.8-5.9 2.8-8.3 0-2.9-1.1-5.3-2.9-7.1C21.1 1.1 18.8 0 16 0zm0 5.9c2.3 0 4.1 1.8 4.1 4.1s-1.8 4.1-4.1 4.1-4.1-1.8-4.1-4.1 1.8-4.1 4.1-4.1z'/%3E%3C/svg%3E">
<link rel="apple-touch-icon" href="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23FF5A5F' d='M16 0c-2.8 0-5.1 1.1-6.9 2.9C7.3 4.7 6.2 7.1 6.2 10c0 2.4 1.1 5.2 2.8 8.3 1.4 2.5 3.1 5.1 5 7.7.8 1.1 1.5 2.1 2 2.8.5-.7 1.2-1.7 2-2.8 1.9-2.6 3.6-5.2 5-7.7 1.7-3.1 2.8-5.9 2.8-8.3 0-2.9-1.1-5.3-2.9-7.1C21.1 1.1 18.8 0 16 0zm0 5.9c2.3 0 4.1 1.8 4.1 4.1s-1.8 4.1-4.1 4.1-4.1-1.8-4.1-4.1 1.8-4.1 4.1-4.1z'/%3E%3C/svg%3E">

</head>
