<%-include("./header.ejs") %>
<body>
    <div class="main h-48 bg-gray-300 flex justify-center items-center text-center p-4 xl:relative flex-col gap-7 w-full absolute top-[100%] mt-64 xl:bottom-0 left-0">
        <div class="icons flex gap-5 text-2xl">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-github"></i>
        </div>

        <p>@AirbnbPvt.Ltd</p>
        <p>Privcy Terms</p>
    </div>
</body>
</html>